<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joe.cloud.mapper.ShareFileMapper">
    <insert id="insertAndUpdate">
        INSERT INTO share_file (user_file_id,urlkey) VALUES (#{id},#{url});
    </insert>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM share_file
    </select>
</mapper>